<%- include("includes/header.ejs") %>
    <h1>This the home page</h1>
     <h3><%= "apnacollege".toUpperCase() %></h3> 
    <p>This is the paragraph..</p>
    <buttton>Click me</buttton>
</body>
</html>