<%- include("includes/header.ejs") %>

    <h2>This page belongs to : <%= username %> </h2>
    <button>Follow</button>
    <button>Block</button>

    <h3>Accounts that follow you : </h3>

</body>
</html>

for(let name of followers){
    <li>name</li>

}